@{
    ViewBag.Title = "Home Page";
}

<div class="greetings text-center">
    <h1>Welcome to Task Manager</h1>
    <p class="lead">Get life under control with an ultimate app for getting things done</p>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Start</a></p>
</div>

<div class="row text-center ads">
    <div class="col-md-4">
        <h2>
            To-do list
            <span class="glyphicon glyphicon-ok"></span>
        </h2>
        <p>Keep your tasks, lists and reminders in one place, always in easy access 24 hours per week</p>
    </div>
    <div class="col-md-4">
        <h2>
            Calendar
            <span class="glyphicon glyphicon-calendar"></span>
        </h2>
        <p>Plan your day, week, month, and life. Beautifully designed to help you rock your day, everyday</p>
    </div>
    <div class="col-md-4">
        <h2>
            Assistant
            <span class="glyphicon glyphicon-heart"></span>
        </h2>
        <p>Task Manager Assistant takes care of your tasks, so you can spend time on the things that matter</p>
    </div>
</div>